<div style="text-align: center">

    <div class="Ianterest_header_logo">
        <h1>Ianterest</h1>
    </div>
    <div class="Ianterest_header_button">
        <a href="{% url 'articleapp:list' %}">
            <span>
                Articles
            </span>
        </a>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}">
            <span>
                Login
            </span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>
                SignUp
            </span>
        </a>
        {%  else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>
                MyPage
            </span>
        </a>
        <a href="{% url 'accountapp:logout' %}">
            <span>
                Logout
            </span>
        </a>
        {% endif %}
    </div>

</div>